<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>REGISTER</h1>
    <form action="/register" method="POST">
        <label>Username :</label><br>
        <input type="text" name="username"><br>
        <label>Email :</label><br>
        <input type="text" name="email"><br>
        <label>Password</label><br>
        <input type="text" name="password"><br>
        <input type="submit" value="login">
    </form>
    <a href="/register">register</a>
</body>
</html>