* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.wholebody {
    color: white;
    background: linear-gradient(to bottom, rgba(46,0,0,1) 0%, rgba(0,0,0,1) 74%, rgba(0,0,0,1) 100%);
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.topbar {
    width: 100%;
    position: fixed;
    box-shadow: 0vw 0vw 5vw rgb(158, 61, 61);
    top: 0;
    z-index: 10;
    background:  rgb(17, 17, 17);
    font-family: "Gill Sans";
}


.menu {
    float: right;
    margin-right: 15%;
}


.logo {
    float: left;
    margin-left: 14.2%;
}

.the_logo {
    font-size: 3vw;
    font-family: "Gill Sans";

    line-height: 3.5vw;
    float: right;
    margin-left: 4vw;
    color: #ffffff;
}

.menu_items {

    font-size: 1vw;
    font-family: "IBM 3270";
    line-height: 4vw;
    margin-left: 1vw;
    color: #ffffff;
}
.menu_items:hover,
.menu_items:focus {
    cursor: pointer;
    color: rgb(255, 74, 74);
}

.boxhead a {
    color: #FFFFFF;
    text-decoration: none;
}

.gameDiv {
    margin-top: 4%; 
    margin-left: 15%; 
    margin-right: 15%; 
    height: 14vw; 
    background: rgba(39, 39, 39, 0.5);
    transition: transform .2s;
}

.gameDiv:hover,
.gameDiv:focus {
    transform: scale(1.04);
    cursor: pointer;
    background: #2e1717;
}

button {
    color: #FFFFFF;
    background: rgb(99, 10, 10);
    float: right;
    width: 6%;
    border-radius: 0.2vw;
    font-size: 1.3vw;
    margin-left: 2%;
    margin-top: 2.5%;
    z-index: 9999999px;
}

button:focus,
button:hover {
    background: #723636;
    
}